/* 폰트 */
.font_bold {
	-fx-font-family: "NanumGothicExtraBold";
}
/* 배경 */
.bg_white {
	-fx-background-color: #ffffff;
}

/* 버튼 */
Button {
	-fx-background-color: #545454;
	-fx-text-fill: #ffffff;
}

.btn_red{
	-fx-background-color: #ad141c;
	-fx-text-fill: #ffffff;
}

.btn_blue {
	-fx-background-color: #272d35;
	-fx-text-fill: #ffffff;
}

/* 테이블 뷰 상단 배경 */
.table-view .column-header {
	-fx-background-color: #272d35;
}
/* 테이블 뷰 상단 글자 */
.table-view .column-header-background .label {
	-fx-text-fill: #ffffff;
}
/* 테이블 뷰 셀 */
.table-row-cell {
	-fx-background-color: #ffffff;
}

/* 탭 배경 */
.tab-pane .tab-header-background {
	-fx-background-color: #ffffff;
}
/* 탭 */
.tab-pane .tab {
	-fx-pref-width: 100px;
	-fx-background-color: #272d35;
}
/* 선택한 택 */
.tab-pane .tab:selected {
	-fx-background-color: #ad141c;
}
/* 탭 글자 */
.tab-pane .tab-label {
	-fx-text-fill: #ffffff;
}

/* 리스트 뷰 */
.list-view {
	-fx-background-color: #fcfcfc;
}
/* 리스트 뷰 셀 */
.list-cell{
	-fx-background-color: #ffffff;
}