/* 폰트 */
.font_bold {
   -fx-font-family: "NanumGothicBold";
}
.font_extraBold {
   -fx-font-family: "NanumGothicExtraBold";
}
/* 폰트 사이즈 */
.font20{
	-fx-font-size: 20px;
}

/* 배경 */
.bg_white {
   -fx-background-color: #ffffff;
}

/* 버튼 */
Button {
   -fx-background-color: #545454;
   -fx-text-fill: #ffffff;
}

.btn_red{
   -fx-background-color: #ad141c;
   -fx-text-fill: #ffffff;
}

.btn_blue {
   -fx-background-color: #272d35;
   -fx-text-fill: #ffffff;
}

/* 포스기 버튼 */
.posBtn {
	-fx-pref-height: 40px;
	-fx-background-color: #272d35;
	-fx-background-radius: 0;
}

/* 테이블 뷰 상단 배경 */
.table-view .column-header {
   -fx-background-color: #272d35;
}
/* 테이블 뷰 상단 글자 */
.table-view .column-header-background .label {
   -fx-padding: 0;
   -fx-text-fill: #ffffff;
}

.table-view {   
   -fx-border-color: #cccccc; 
}
.table-view:focused {   
   -fx-border-color: #cccccc;
    -fx-background-insets: 0px; /*선택시 파란색 선을 안나타나게 함 */   
}

/* 테이블 뷰 셀 */
.table-row-cell {
   -fx-background-color: #ffffff;
}

/* 테이블 뷰 선택된 셀 */
.table-row-cell:selected .table-cell {
    /*-fx-text-fill: black;*/
    -fx-text-fill: red;
    -fx-border-color: white;
}

/* 테이블뷰 행 텍스트 중앙정렬(디폴트값) */
.table-column {
    -fx-alignment: center;
}

 .table-column.text_r {
    -fx-alignment: center-right;
    -fx-padding: 0 12px 0 0;
}

.column-header{
	-fx-padding: 0;
}

/* 탭 배경 */
.tab-pane .tab-header-background {
   -fx-background-color: #ffffff;
}
/* 탭 */
.tab-pane .tab {
   -fx-padding: 7px 10px;
   -fx-background-color: #272d35;
   -fx-background-radius: 0;
}
/* 선택한 탭 */
.tab-pane .tab:selected {
   -fx-background-color: #ad141c;
}
.tab-pane .tab:selected .focus-indicator {
   -fx-border-width: 0;
}

/* 탭 글자 */
.tab-pane .tab-label {
	-fx-pref-width: 80px;
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
}

/* 리스트 뷰 */
.list-view {
   -fx-background-color: #fcfcfc;
}

/* 리스트 뷰 셀 */
.list-cell{
   -fx-background-color: #ffffff;
}

.list-cell:selected .label {
    -fx-text-fill: black; /*태블릿 메뉴 선택되었을때 글자 색 지정 */
}

/* 가로 스크롤바 */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/* 스크롤바 UI 변경 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 7.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 7.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.1em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.1em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,95.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

/*콤보박스 아이템 스타일 */
.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}
/*콤보박스 기본 스타일 변경*/
.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

/*텍스트 필드 선택시 테두리 색 지정 */
.text-field:focused {
    -fx-border-color: #9f9f9f;    
    -fx-border-radius: 3px;
    -fx-background-insets: 0px; 
}

/*프로그레스바 색상 */
.progress-bar .bar {
   -fx-background-color: #272d35;
}